/.StatemachineFormatterTest.java._trace
/.StatemachineFormatterTest.xtendbin
/.StatemachineParsingTest.java._trace
/.StatemachineParsingTest.xtendbin
/StatemachineFormatterTest.java
/StatemachineParsingTest.java
