<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="target/help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.intro.quicklinks">
      <url
            description="This page contains developer information about the MDE Assets - MDE Skeleton project of Capgemini Engineering."
            icon="platform:/plugin/org.eclipse.ui.intro.universal/themes/solstice/graphics/icons/ctool/start-cheatsheet.png"
            label="Read the MDE Assets - MDE Skeleton Developer Guide "
            location="http://org.eclipse.ui.intro/showHelpTopic?id=/com.altran.ec.mde.skeleton.guide.developer/target/help/mde-skeleton-developer-guide.html">
      </url>
   </extension>

</plugin>
