<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.espilce.periksa.validation.registry.registrar">
      <ReflectiveValidator
            class="com.altran.ec.mde.skeleton.espilce.periksa.StatemachineValidations">
         <EPackage
               uri="http://www.eclipse.org/xtext/example/fowlerdsl/Statemachine">
         </EPackage>
      </ReflectiveValidator>
   </extension>
</plugin>
