<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="CBI Target Platform" sequenceNumber="1649935519">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.aql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/releases/2020-06/202006171000"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="de.itemis.xtext.antlr.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.itemis.com/updates/releases/2.1.1"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.espilce.commons.emf.registry.feature.feature.group" version="0.0.0"/>
      <unit id="org.espilce.commons.resource.feature.feature.group" version="0.0.0"/>
      <repository id="espilce-commons-p2" location="https://nexus.acidspace.nl/repository/espilce-commons/develop/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.espilce.periksa.sdk.feature.group" version="0.0.0"/>
      <repository id="espilce-periksa-p2" location="https://nexus.acidspace.nl/repository/espilce-periksa/develop/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.espilce.polvi.emf.generator.feature.feature.group" version="0.0.0"/>
      <unit id="org.espilce.polvi.emf.generator.xtext.feature.feature.group" version="0.0.0"/>
      <unit id="org.espilce.polvi.xtext.generator" version="0.0.0"/>
      <repository id="espilce-polvi-p2" location="https://nexus.acidspace.nl/repository/espilce-polvi/develop/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="com.altran.general.integration.xtextsirius.runtime.feature.feature.group" version="0.0.0"/>
      <repository id="xtext-sirius-integration-p2" location="https://nexus.acidspace.nl/repository/xtext-sirius-integration/develop/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.yakindu.base.xtext.utils.jface.feature.group" version="0.0.0"/>
      <repository location="https://updates.yakindu.org/statecharts/releases/3.5.13"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="com.altran.general.emf.ecoredoc.ui.feature.feature.group" version="0.0.0"/>
      <repository id="ecoredoc-p2" location="https://nexus.acidspace.nl/repository/mde_assets-ecore_doc-raw/develop/repository"/>
    </location>
  </locations>
</target>
